<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <add key="FenergoIndexHost" value="http://localhost:9400" />
    <add key="FenergoIndexPrefix" value="scbr5-00000003_" />
    <add key="FenergoIndexId" value="1001" />
    <add key="FenergoIndexUntrustedSslCert" value="true" />
    <add key="FenergoIndexUsername" value="fenergouser" />
    <add key="FenergoIndexPassword" value="ergo.1234" />
    <add key="FenergoIndexTraceEnabled" value="false" />
    <add key="SleepTimer" value="1000" />
    <add key="BaseRequest" value="10" />
    <add key="IncrementalRequest" value="10" />
    <add key="ThresoldRequest" value="1000" />
    <add key="FenergoIndexKeepAliveTime" value="10000" />
    <add key="FenergoIndexKeepAliveInterval" value="60000" />
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Nest" publicKeyToken="96c599bbe3e70f5d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Elasticsearch.Net" publicKeyToken="96c599bbe3e70f5d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
